Django==5.1.4
pymongo==4.10.1
requests==2.25.1
urllib3==1.26.5
beautifulsoup4==4.12.3
soupsieve==2.6
django-cors-headers==4.6.0
python-dotenv==0.19.2
pytz==2022.1
python-dateutil==2.9.0.post0
docker==5.0.3
docker-compose==1.29.2
cryptography==3.4.8
PyJWT==2.3.0
rich==13.9.4
pyparsing==2.4.7
packaging==23.2
typing_extensions==4.12.2
